@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial,  sans-serif;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#1DA1F2;
    color: white;
    padding: 10px 30px;
}
.nav a{
    margin: 5px;
    color: #f2f2f2;
    text-decoration: none;
}
.nav a:hover{
    color: yellow;
}
.hero{
    padding:60px 20px;
    text-align: center;
    background-color: #002390;
    color: #fff;
}
.btn{
    padding: 10px;
    margin: 4px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.main{
    margin: 10px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;
    flex-wrap:wrap;

}
.card{
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 10px 22px rgba(0,0,0,0.15);
    background-color: papayawhip;
}
.card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.card h2{
    color: green;
}
.card p{
    color: #000;
}
.card:hover{
transform:translateY(-5px);
transition:0.3s;
}
.btn{
    display: inline-block;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}
.btn:hover{
    background-color: #333;
}
#about{
    padding: 1rem;
    text-align: center;
}
#contact{
    padding: 1rem;
    text-align: center;
}
.footer{
    background-color: aqua;
    color: #000;
    padding: 20px;
}
@media(max-width:768px){
    .cards{
        flex-direction: column;
    }
}